*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
}

.fieldTex{
    width: 100%;
    margin-top: 20px ;
    display: flex;
    align-items: center;
    justify-content: center;
}

input{
    width: 300px;
    height: 50px;

    border: solid 3px rgb(105, 27, 27);
    box-shadow: 4px 5px 8px rgba(0, 0, 0, 0.527);
    border-radius: 15px;
    padding: 20px;
    
    font-size: 30px;
    background-color: #cccccc4f;
    color: rgba(105, 24, 24, 0.877);
    
    transition: .5s;
}

input::placeholder{
    color: rgba(131, 29, 29, 0.473);
    font-size: 30px;
}

input:focus{
    transform: scale(1.1);
    transition: .5s;
}
