@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family:'Poppins';
    color: white;
}

body{
    background-color: #1c1c1c;
}

.container{
    z-index: 0;

    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}

/*------------------BARRA DE NAVEGAÇÃO SUPERIOR:------------------------------*/
nav{
    width:100%;
    height: 15%;
    
    display: flex;
    justify-content: right;
    align-items: center;

    font-weight: 900;
    
}

.logo{
    width: 50%;
    height: 100%;

    border-bottom-left-radius: 7vh;

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(23, 23, 23);
    border-bottom: solid .2vh white;
    box-shadow: 0 1px 8px rgb(0, 0, 0);
}

.logo p{
    letter-spacing: 3vh;
    font-size: 7.5vh;
    text-shadow: 3px 4px 1px black;
}

section{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 1000px;
}

main{
    width: 100%;
    height: 1000px;
}

.sidebar{
    width: 15vh;
    height: 100%;
    position: fixed;

    border-right: 7px black solid;
}

.sidebar .content-sidebar{
    width: 100%;
    height: 100%;
    margin-top: 40px;

    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: rgb(23, 23, 23);
    justify-content: center;
    gap: 90px;
}

.sidebar .content-sidebar .profile-pic,
.sidebar .content-sidebar .diploma-pic,
.sidebar .content-sidebar .lamp-pic{
    width: 100%;
    height: 12vh;

    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: .2s;
}

.sidebar .content-sidebar .profile-pic:hover,
.sidebar .content-sidebar .diploma-pic:hover,
.sidebar .content-sidebar .lamp-pic:hover{
    background-color: #00000089;
    transition: .2s;
}

.sidebar .content-sidebar .profile-pic:focus,
.sidebar .content-sidebar .diploma-pic:focus,
.sidebar .content-sidebar .lamp-pic:focus{
    background-color: #00000089;
    transition: .2s;
}

.sidebar .content-sidebar img{
    width: 9vh;
    height: 9vh;
    filter: drop-shadow( 2px 4px 1px black);
}



.mid-content{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.left{
    width: 15vh;
}

.right{
    width: 85vh;
}


.right .icons img{
    width: 7vh;
    height: 7vh;
    filter: grayscale(100%);
    transition: .3s;
    filter: drop-shadow(0 3px 0px rgba(0, 0, 0));
    animation: iconsEffect 2s infinite alternate;
}

.arrow{
    position: absolute;
    left: 1vh;
    top: 1vh;
    width: 12vh;
    height: 10vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

.arrow img{
    border-radius: 50%;
    border: solid .6vh #0F0F0F;
    background-color: rgb(70, 70, 70);

    position: absolute;
    bottom: 0vh;


    cursor: pointer;
    width: 7vh;
    height: 7vh;
}

.arrow span{
    color: rgba(136, 136, 136, 0.554);
    font-size: 2vh;
    font-weight: 800;
    position: absolute;
    top: 0px;
    animation: piscaEffect 1s infinite alternate;
}

.cima{
    transform: rotate(90deg);
}

.baixo{
    transform: rotate(180deg);
}


.overlay{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;

    width: 0;
    height: 100%;
    background-color: #2b2b2b;
    
    animation: pageEffect .7s ease-in-out forwards;
}

/* anime para os icons */
@keyframes iconsEffect{
    from{
        transform: rotate(-10deg);
    }
    to{
        transform: rotate(10deg);
    }
}

/* animações da página */
@keyframes pageEffect{
    from{
        width: 100%;
    }
    to{
        width: 0;
    }
}

@keyframes writeEffect{
    from{
        width: 0;
    }
    to{
        width: 100%;
    }
}

@keyframes cursorEffect{
    to{
        border-color: transparent;
    }
    from{
        border-color: rgb(255, 255, 255)
    }
}

@keyframes piscaEffect{
    to{
        color: transparent;
    }
    from{
        color: rgb(121, 121, 121);
    }
}

@keyframes letterIOne{
    from{
        transform: rotate(-55deg);
    }
    to{
        transform: rotate(55deg);
    }
}

@keyframes letterITwo{
    from{
        transform: rotate(-15deg);
    }
    to{
        transform: rotate(15deg);
    }
}