@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family:'Poppins';
    color: white;
}

body{
    background-color: #1c1c1c;
    overflow: hidden;
}

.container{
    z-index: 0;
    border-right: solid 30px rgb(70, 70, 70);
    border-left: solid 30px rgb(70, 70, 70);
    border-top: solid 20px rgb(70, 70, 70);
    border-bottom: solid 20px rgb(70, 70, 70);

    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}

/*------------------BARRA DE NAVEGAÇÃO SUPERIOR:------------------------------*/
nav{
    width: 100%;
    height: 15%;
    display: flex;

    font-weight: 600;
    background-color: #1c1c1c;

    justify-content: space-between;
    align-items: center;
}

.logo{
    width: 20%;
    height: 50px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.logo span{
    font-size: 4vh;
}

ul{
    width: 100vh;
    height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    list-style-type: none;
}
 ul li{
    font-size: 3.5vh;
    transition: .2s;
 }

 ul li:hover{
    transform: scale(1.1);
    transition: .2s;
 }

ul li a{
    text-decoration: none;
    color: #8e8e8e;
    transition: .2s;
    text-shadow: 0 2px 2px black;
}

ul li a:hover{
    color: #ffffff;
}

.activedoc a{
    color: white;
}

/*-----------------------CENTRO DO PROJETO (HEADER)-------------------------------*/
section{
    width: 100%;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-weight: 900;
    background-color: #1c1c1c;
    gap: 5%;
    margin-top: 2vh;
}

.mid-content{
    width: 100%;
    height: 80%;
    
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #1c1c1c;
    ;
}

.left{
    width: 40%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.left img{
    width: 30vw;
    height: 60vh;

    border-radius: 50%;
    border: solid 10px rgb(70, 70, 70);
    transition: .3s;

    box-shadow:  0px 0px 10px rgb(255, 255, 255);
}

.right{
    width: 50%;
    height: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.right .name-box{
    width: 80vh;
    height: 80%;

    display: flex;
    flex-direction: column;


    font-size: 10vh;
    letter-spacing: 20px;
}

.right .name-box .name{
    width: 100%;
    text-align: left;
    animation: writeEffect 5s steps(300) normal;
    overflow: hidden;

    text-shadow: 1vh 1vh 1px rgb(0, 0, 0)
}
.right .name-box .apelid{
    width: 100%;
    text-align: right;
    animation: writeEffect 5s steps(300) normal;
    overflow: hidden;
    text-shadow: 1vh 1vh 1px rgb(0, 0, 0)
}

.right .icons{
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    margin-top: 7vh;
}

.right .icons img{
    width: 7vh;
    height: 7vh;
    filter: grayscale(100%);
    transition: .3s;
    filter: drop-shadow(0 3px 0px rgba(0, 0, 0));
    animation: iconsEffect 2s infinite alternate;
}

.right .icons img:hover{
    filter: grayscale(0);
}

.wap, .linkd, .git{
    height: 3vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wap:hover{
    filter: drop-shadow(0 3px 1px rgb(0, 255, 0));
    transition: .1s;
}
.linkd:hover{
    filter: drop-shadow(0 3px 1px skyblue);
    transition: .1s;
}
.git:hover{
    filter: drop-shadow(0 3px 1px rgb(255, 255, 255));
    transition: .1s;
}

.footer-content{
    margin-top: 5vh;
    width: 680px;
    height: 7vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-content .position{
    width: 100%;
    height: 100%;

    display: flex;
    text-align: center;

    font-size:  5vh;
    letter-spacing: 25px;

    border-right: solid 3px rgb(255, 255, 255);
    animation: writeEffect 5s steps(30) infinite alternate, cursorEffect 800ms infinite normal;

    white-space: nowrap;
    overflow: hidden;
}

section .arrow{
    position: absolute;
    right: 100px;
    bottom: 75px;
    width: 12vh;
    height: 10vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

section .arrow img{
    border-radius: 50%;
    border: solid .6vh #0F0F0F;
    background-color: rgb(70, 70, 70);

    position: absolute;
    bottom: 0;


    cursor: pointer;
    width: 7vh;
    height: 7vh;
}

.arrow span{
    color: rgba(136, 136, 136, 0.554);
    font-size: 2vh;
    font-weight: 800;
    position: absolute;
    top: 0px;
    animation: piscaEffect 1s infinite alternate;
}

.cima{
    transform: rotate(90deg);
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;

    width: 0;
    height: 100%;
    background-color: #2b2b2b;
    
    animation: pageEffect .7s ease-in-out forwards;
}

/* anime para os icons */
@keyframes iconsEffect{
    from{
        transform: rotate(-10deg);
    }
    to{
        transform: rotate(10deg);
    }
}

/* animações da página */
@keyframes pageEffect{
    from{
        width: 100%;
    }
    to{
        width: 0;
    }
}

@keyframes writeEffect{
    from{
        width: 0;
    }
    to{
        width: 100%;
    }
}

@keyframes cursorEffect{
    to{
        border-color: transparent;
    }
    from{
        border-color: rgb(255, 255, 255)
    }
}

@keyframes piscaEffect{
    to{
        color: transparent;
    }
    from{
        color: rgb(121, 121, 121);
    }
}


/* shadow dif. em cada letra do ---> Web Developer */

/* Web */
.w{
    text-shadow: 1px 3px 3px rgba(255, 0, 0);
}
.e{
    text-shadow: 1px 3px 3px rgba(11, 120, 208, 0.5);
}
.b{
    text-shadow: 1px 3px 3px rgba(77, 255, 0, 0.5);
}

/* espaço entre as letras */
.space{
    visibility: hidden;
}

/* Developer */
.d{
    text-shadow: 1px 3px 3px rgb(0, 81, 255);
}
.ev{
    text-shadow: 1px 3px 3px rgba(180, 250, 220, 0.5);
}
.v{
    text-shadow: 1px 3px 3px rgba(143, 81, 230, 0.5);
}
.el{
    text-shadow: 1px 3px 3px rgba(255, 0, 0, 0.5);
}
.l{
    text-shadow: 1px 3px 3px rgba(255, 116, 3, 0.5);
}
.o{
    text-shadow: 1px 3px 3px rgba(244, 225, 15, 0.5);
}
.p{
    text-shadow: 1px 3px 3px rgba(255, 0, 0, 0.5);
}
.er{
    text-shadow: 1px 3px 3px rgba(235, 28, 218, 0.5);
}
.r{
    text-shadow: 1px 3px 3px rgba(255, 12, 122, 0.5);
}