body{
    background: linear-gradient(0deg, rgb(82, 37, 0), rgb(0, 0, 0));
    color: white;
    font-family:cursive;
    margin:0px;
    padding: 0px;
    width: 100%;

}

/*------------------BARRA DE NAVEGAÇÃO SUPERIOR ANIMADA:------------------------------*/
.activedoc{
    text-shadow: 0px 0px 10px rgb(255, 145, 0);
    color: #f39c12;
    font-size: 25px;
}

ul{
    font-size: 25px;
    display: flex;
    justify-content:center;
    gap: 80px;
    list-style-type: none;
}

ul li{
    position:relative;
}

ul li::before,
ul li::after{
    position: absolute;
    content:'';
    width: 0;
    height: 1px;
    background-color: #ffffff;
    transition: 0.4s all ease-in-out;
}

ul li::before{
    top: 0;
    left: 0;
}

ul li::after{
    bottom: 0;
    right: 0;
}

ul li.active::before,
ul li:hover::before{
    right: 0;
    left: auto;
    width: 100%;
    background-color: #f39c12;
}

ul li.active::after,
ul li:hover::after{
    right: auto;
    left: 0;
    width: 100%;
    background-color: #f39c12;
}

ul li a{
    text-decoration: none;
    cursor: pointer;
    color: #fff;
    font-size: 25px;
    transition: 0.4s all ease-in-out;

}

ul li.active a,
ul li:hover a{
    color: #f39c12;
    text-shadow: 0px 0px 100px rgb(255, 255, 255);
    opacity: 60%;
}
/*-----------------------CENTRO DO PROJETO-------------------------------*/
header img{
    width: 200px;
    height: 200px;
    border: 5px groove rgb(0, 0, 0);
    border-radius: 30px;
    margin-bottom: 10px;
    margin-top: 30px;
    transition: .3s;
}

.center img:hover{
    border: 5px groove rgb(254, 180, 42);
    transition: .3s;
    box-shadow: 0px 0px 100px #555555;
}

.self-info{
    text-align: center;
    color: rgb(255, 115, 0);
    margin: 0px 550px 0px 550px;
}

header h1{
    font-size: 45px;
    margin: 0px 0px 0px 0px;
    transition: .5s;
    cursor: default;
}

header h4{
    font-size: 25px;
    margin: 10px 50px 60px 50px;
    transition: 0.5s;
    cursor:default;
}

.name:hover{
    color: rgb(255, 115, 0);
    -webkit-text-stroke: black 2px;
    text-shadow: 0 0 10px white;
}

.position:hover{
    color: rgb(255, 115, 0);
    -webkit-text-stroke: black 1px;
    text-shadow: 0 0 5px white;
}

.center{
    text-align: center;
}

/*-----------------------TEXTOS E SUBTITULOS*---------------------*/
.abouttitle{
    text-align: center;
    margin: 0px 500px  0px 500px;
}

.about{
    text-align: center;
    margin: 0px 20px 20px 20px;
}

.aboutedit{
    margin: 0px 80px 0px 80px;
}

.aboutedit:hover{
    backdrop-filter: blur(20px);
    box-shadow: 0px 0px 100px black;
    padding: 5px;
    border: 1px solid white;
}


.train-curse{
    display: flex;
    justify-content: space-evenly;
}

.txt1, .txt2{
    display: flex;
    flex-direction: column;
    text-align: justify;
    margin: 0px 90px 0px 90px;
}

.txt1:hover,
.txt2:hover{
    backdrop-filter: blur(20px);
    box-shadow: 0px 0px 100px black;
    padding: 15px;
    border: 1px solid white;
}

.traintitle, .cursetitle{
    text-align: center;
}

h2{
    margin: 0px;
    color: rgb(255, 115, 0);
    transition: .3s;
    cursor: default;
}

main{
    text-align: justify;
}

/*------------------RODAPÉ DA PÁGINA COM AS LOGOS------------------------------*/
footer{
    background-color: BLACK;
    height: 100px;
    width: 100%;
    display: flex;
}

footer img{
    width: 40px;
    height:40px;
}

footer img:hover{
    width: 55px;
    height: 55px;
}

.alter-img{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

/* --------------------------EFEITO HOVER COM AS REDES SOCIAIS------------------------------------ */



/* --------------------------youtube------------------------------- */

/* .yout{
    margin: 0px 460px 0px 460px;
    padding: 0;
    position: absolute;
    opacity: 1;
    z-index:1;
    transition: .4s;
    border-radius: 100px;   
}

.youtcollor{
    margin: 0px 460px 0px 460px;
    position: absolute;
    cursor: pointer;
    border-radius: 100px;

}

.yout:hover{
    opacity: 0;
    border-radius: 100px;
    box-shadow: 0px 0px 100px rgb(244, 20, 20);
} */

/* --------------------------instagram------------------------------- */

/* .insta{
    margin: 0px 730px 0px 730px;
    position: absolute;
    opacity: 1;
    z-index:1;
    transition: .4s;
    border-radius: 100px;
}
.instacollor{
    margin: 0px 730px 0px 730px;
    position: absolute;
    cursor: pointer;
    border-radius: 100px;
}
.insta:hover {
    opacity:0;
    border-radius: 100px;
    box-shadow: 0px 0px 100px rgb(245, 55, 226);
} */

/* --------------------------instagram------------------------------- */

/* .twt{
    margin: 0px 1000px 0px 1000px;
    padding: 0;
    opacity: 1;
    position: absolute;
    z-index:1;
    transition: .4s;
    border-radius: 100px;
}

.twtcollor{
    margin: 0px 1000px 0px 1000px;
    position: absolute;
    cursor: pointer;
    border-radius: 100px;

}

.twt:hover{
        opacity: 0;
        border-radius: 100px;
        box-shadow: 0px 0px 100px rgb(21, 162, 249);
} */