.inputbox{
    width: 100%;
    height: 100px;
    gap: 10px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

input{
    outline: none;
    border-radius: 10px;
    font-size: 18px;

    padding: 10px;
    width: 600px;
    height: 40px;

    text-align: center;
    transition: .2s;
}

input:focus{
    transform: scale(1.03);
    transition: .2s;
}