*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.content{
    width: 80%;
    height: 70%;

    box-shadow: 2px 2px 7px rgb(0, 0, 0);
    background-color: white;
    border-radius: 3vh;

    display: flex;
    align-items: center;
    gap: 40px;
}

.left, .right{
    width: 50%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;

    gap: 5vh;
}

.left h2{
    font-size: 8vh;
    color: red;
    -webkit-text-stroke: solid .4vh black;
    text-shadow: .2vh .3vh .5vh black ;
}

.right h2{
    font-size: 7vh;
    color: red;
    -webkit-text-stroke: solid .4vh black;
    text-shadow: .2vh .3vh .5vh black ;
}


.overlay-form{
    width: 110%;
    height: 110%;
    position: absolute;

    background-color: rgba(255, 0, 0);
    border-radius: 129px 110px 74px 110px / 20px 70px 5px 70px;

    /* transform: translateX(-85vh); */
}

.loginMSG-container{
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2vh;
    
    animation: loginAppear .8s  normal forwards;
}

.loginMSG-container .msg{
    width: 100%;
    height: 5vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

.loginMSG-container .msg span{
    font-size: 2.5vh;
    font-weight: 500;

    color: white;
}

.loginMSG-container .btn{
    width: 100%;
    height: 5vh;

    display: flex;
    align-items: center;
    justify-content: center;
    animation: opacitybtnrAppear 2s normal forwards;
}
/* ------------------------------- */

.cadasterMSG-container{
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2vh;
    animation: cadasterAppear .8s  normal forwards;
}

.cadasterMSG-container .msg{
    width: 100%;
    height: 5vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

.cadasterMSG-container .msg span{
    font-size: 2.5vh;
    font-weight: 500;

    color: white;
}

.cadasterMSG-container .btn{
    width: 100%;
    height: 5vh;

    display: flex;
    align-items: center;
    justify-content: center;
    animation: opacitybtnrAppear 2s normal forwards;
}

@keyframes loginAppear {
    0%{
        transform: translateX(-90vh);
    }

    100%{
        transform: translateX(0vh);
    }
}

@keyframes cadasterAppear {
    0%{
        transform: translateX(100vh);
    }

    100%{
        transform: translateX(0vh);
    }
}

@keyframes opacitybtnrAppear {
    0%{
       opacity: 0;
    }

    100%{
        opacity: 1;
    }
}